.features {
  display: flex;
  align-items: center;
  padding: 4rem 0 0 0;
  width: 100%;
}

.featureCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 12px;
  transition: background-color 0.2s ease;
  text-decoration: none !important;
  color: inherit !important;
  height: 100%;
}

.featureCard:hover {
  background-color: var(--ifm-color-emphasis-100);
}

.featureSvg {
  height: 120px;
  width: 120px;
  margin-bottom: 1rem;
}

.featureTitle {
  margin-top: 0.5rem;
  font-weight: bold;
}

.featureDescription {
  font-size: 0.9rem;
  color: var(--ifm-color-emphasis-700);
}